{% extends "base.html" %}
{% block content %}

<h4>NPT Records</h4>

<form method="get" class="row g-2 mb-3">
  <div class="col">
    <input type="date" name="from_date" class="form-control">
  </div>
  <div class="col">
    <input type="date" name="to_date" class="form-control">
  </div>
  <div class="col">
        <select name="department" class="form-control" onchange="this.form.submit()">
      <option value="">Department</option>
      {% for d in departments %}
        <option value="{{ d.Department }}"
          {% if d.Department == selected_department %}selected{% endif %}>
          {{ d.Department }}
        </option>
      {% endfor %}
    </select>

  </div>
  <div class="col">
    <select name="equipment" class="form-control">
  <option value="">Equipment</option>
  {% for e in equipments %}
    <option value="{{ e.Equipment }}"
      {% if e.Equipment == selected_equipment %}selected{% endif %}>
      {{ e.Equipment }}
    </option>
  {% endfor %}
</select>

  </div>
  <div class="col">
    <button class="btn btn-dark">Filter</button>
  </div>
</form>

<table class="table table-bordered table-sm">
  <tr>
    <th>Date</th><th>Dept</th><th>Equipment</th>
    <th>Hours</th><th>Category</th><th>Reason</th>
  </tr>
  {% for r in records %}
  <tr>
    <td>{{ r.Date }}</td>
    <td>{{ r.Department }}</td>
    <td>{{ r.Equipment }}</td>
    <td>{{ r.Time }}</td>
    <td>{{ r.Category }}</td>
    <td>{{ r.Reason }}</td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
